<!doctype html>
<html>
<head>
  <title>Game Time!</title>

  <h2> Please fill in the form: </h2>
</head>
<body>
<form action="/madlibs" method="GET">

  <div>
  Person: <input type="text" name="person"> 
  </div><br>
  
  <div>
  Choose your noun: <input type="text" name="noun">
  </div><br>

  <div>
  <label>Color:</label>
    <select name="color">
      <option value="fushia">Fushia</option>
      <option value="ocean blue">Ocean Blue</option>
      <option value="army green">Army Green</option>
      <option value="mustard yellow">Mustard Yellow</option>
      <option value="rose gold">Rose Gold</option>
    </select>
  </div><br>

  <div>
  <label>Adjective:</label>
    <select name="adjective">
      <option value="thirsty">Thirsty</option>
      <option value="scrupulous">Srupulous</option>
      <option value="greasy">Greasy</option>
      <option value="thundering">Thundering</option>
      <option value="colossal">Colossal</option>
    </select>
  </div><br>

    <input type="submit">
</form>
</body>
</html>